<mat-nav-list>
    <a mat-list-item [routerLink]="'/search-books'">
        <mat-icon>search</mat-icon>
        <span class="list-item">{{sideNavListItems.SEARCH}}</span>
    </a>
    <a mat-list-item [routerLink]="'/cart'">
        <mat-icon
            [matBadge]="cartBooksCount> 0 ? cartBooksCount: null"
            matBadgePosition="before"
            matBadgeColor="accent">shopping_cart</mat-icon>
        <span class="list-item">{{sideNavListItems.CART}}</span>
    </a>
    <a mat-list-item [routerLink]="'/my-book-collection'">
        <mat-icon
            [matBadge]="collectionBooksCount> 0 ? collectionBooksCount: null"
            matBadgePosition="before"
            matBadgeColor="accent">collections</mat-icon>
        <span class="list-item">{{sideNavListItems.COLLECTION}}</span>
    </a>
</mat-nav-list>