<form class="books-search-form">
    <mat-form-field>
        <input matInput
            name="search"
            [placeholder]="placeholder"
            [(ngModel)]="searchValue">
    </mat-form-field>
    <button mat-button [disabled]="!searchValue" (click)="onSearch()">
        <mat-icon>search</mat-icon>
    </button>
</form>

<div fxLayout="row wrap">
    <div fxFlex="50" class="flex-card" *ngFor="let book of books">
        <app-mat-card
            [book]="{
            title: book.title,
            subtitle: book.subtitle,
            imageSrc: book.thumbnail,
            description: book.description,
            authors: book.authors
            }"
            (click)="onBookSelect(book)">
        </app-mat-card>
    </div>
</div>